
<div class="container">
    <div class="box">
        <b>ABOUT COMPANY</b>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo hic,
            ipsam officia animi assumenda incidunt ea sed ducimus voluptate tenetur, </p>
        <p>optio quaerat
            odio ad reiciendis saepe fugit esse at. Ut
        </p>
        <p>
            <a href="https://www.facebook.com" target="_blank" class="fab fa-facebook"></a> &nbsp;&nbsp;
            <a href="https://twitter.com" target="_blank" class="fab fa-twitter"></a> &nbsp;&nbsp;
            <a href="https://plus.google.com" target="_blank"><i class='fab fa-google-plus-g'></i></a> &nbsp;&nbsp;
        </p>
    </div>
    <div class="box box-1">
        <p><i class="fa fa-home"></i>&nbsp;New York,NY 10012,US</p>
        <p><i class="fa fa-envelope"></i>&nbsp;info&#64;example.com</p>
        <p><i class="fa fa-phone"></i>&nbsp;+01 234 567 88</p>
        <p><i class="fa fa-phone"></i>&nbsp;+01 234 567 89</p>
    </div>
</div>
